@import url('https://fonts.googleapis.com/css?family=Anonymous Pro');
body {
   background-color: black;
   font-family: 'Anonymous-Pro';
   color: green;
}


.row {
    width: 300px;
}
.sideBar a:hover{
    color: black;
    background-color: white;
}

.sideBar {
    height: 100%; /*This way it spans the entire page when scrolling down*/
    width: 300px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #696969;
    overflow-x: scroll; /*This allows the contents to scroll with the page*/
    padding-top: 20px;
  }

.sideBar a {
    padding: 6px 6px 6px 2px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    text-align: center;
  }




.jumbotron {
    height: 300px;
    position: relative;
    left: 350px;
    text-align: center;
    background-color: black;
    
}

.container {
    float: left;
}
/*This aligns the github name*/
#github {
    text-align: center;
}
/* This is what keeps all the github projects nice and centered*/
.projects {
    position: relative;
    left: 350px;
    text-align: center;
    background-color: black;
}



.panel-heading {
    text-align: center;
}
.panel-body {
    text-align: left;
    background-color: #242523;
}

.repo-links {
    color: greenyellow; 
}

.repo-links:hover {
    color: lightgreen;
}

img {
    float: left;
    padding: 10px;
}
