@import url('https://fonts.googleapis.com/css?family=Anonymous Pro');
body {
   background-color: black;
   font-family: 'Anonymous-Pro';
   color: green;
}

.row {
    width: 300px;
}
 
.sideBar {
    margin-top: 30px;
    position: relative;
    top:-350px;
    background-color: #FEFEF2;
}

.jumbotron {
    height: 300px;
    position: relative;
    left: 350px;
    text-align: center;
    background-color: lavender;
    
}

.container {
    float: left;
}

